# ==================== DATABASE (TiDB) ====================
HOST=gateway01.us-west-2.prod.aws.tidbcloud.com
USER=3UdFHf8o9vzEEtV.root
PASSWORD=bhUEqaC6ckwXICm0
NOME_BANCO=bd_prontuario_eletronico
PORTA=4000

# ==================== JWT SECRET ====================
SESSION_SECRET=2000Dinamarca%

# ==================== FRONTEND ====================
FRONTEND_URL=https://prontuario-eletronico-senac.vercel.app

# ==================== SERVER ====================
PORT=3001
